body {
    line-height: 19px;
    height: 100vh;
    background-color: #ffffff;
    color: #151f32;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin: 20px;
}

.header {
    max-width: 1160px;
    width: 100%;
    min-width: 1160px;
    margin: auto;
}

.header_menu {
    display: flex;
    height: 75px;
    vertical-align: middle;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fafafa;
}

.middle-menu-bar {
    position: relative;
    width: calc(100% - 65px - 100px);
    text-align: center;
}

.right-menu-bar {
    position: relative;
    width: 100px;
    text-align: center;
}

.right-menu-cart-container {
    cursor: pointer;
}

.right_menu_cart {
    width: 13px;
    height: auto;
}

.header_logo {
    width: 65px;
    height: auto;
}

.menu-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;

}

.right-menu-link {
    position: relative;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    margin-right: 35px;
}

.menu-link {
    padding: 0px 20px 0px 20px;
    margin-right: 3.5%;
    margin-left: 3.5%;
}

.content-menu {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

.left-block {
    position: relative;
    margin-right: 80px;
}

.right-block {
    margin-left: 80px;
}

.big-square {
    position: relative;
}

.title {
    margin-left: 50px;
    margin-top: 100px;
    font-size: 110px;
    line-height: 132px;
    font-weight: 900;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.text {
    width: 194px;
    margin-left: 60px;
    margin-top: 200px;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.big-square {
    position: relative;
}

.title-agency {
    position: relative;
    width: 230px;
    height: 34px;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    padding: 120px 50px 0px 75px;
    color: #ffffff;
}

.text-title-agency {
    position: relative;
    color: #FCD3AC;
    width: 190px;
    height: 66px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    padding: 0px 50px 0px 75px;
}

.right-text {
    position: relative;
    width: 230px;
    height: 34px;
}

.button-start {
    position: absolute;
    top: 440px;
}

.tumbler {
    position: absolute;
    background: #032F48;
    width: 51px;
    height: 48px;
    right: 0px;
    cursor: pointer;
}

.start-now {
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 133px;
    height: 48px;
    cursor: pointer;
}

.link-start-now {
    position: absolute;
    color: inherit;
    text-decoration: none;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    padding: 13px 25px;
}

.img-tumbler {
    padding: 17px 17px;
}

.start-now:hover,
.tumbler:hover {
    background-color: #78c9c0;
}

.arrays {
    position: absolute;
    top: 300px;
    left: 70px;
    cursor: pointer;
}

.arrays #left-vector {
    padding: 0 30px 0px 0px;
}

.footer-link,
.footer {
    display: flex;
    position: relative;
    color: #C2C2C2;
    background: #fafafa;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 40px;
}


.second-block {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 1160px;
    min-width: 1160px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.img-left-block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-basis: 440px;
    margin-right: 30px;
}

.img-block {
    display: flex;
    
    width: 420px;
    height: 420px;
    position: relative;

}

.yellow-square {
    background-color: #F9BA51;
    width: 210px;
    height: 210px;
    margin-left: 50%;
    color: #fff;
    overflow: hidden;
}

.yellow-square::before {
    width: 100px;
    height: 7px;
    content: '';
    background-color: #032F48;
    position: absolute;
    top: 85px;
    left: 5px;
}

.blue-square{
    background-color: #78C9C0;
    width: 210px;
    height: 210px;
    color: #fff;
    overflow: hidden;
}

.red-square {
    background-color: #F1552C;
    width: 210px;
    height: 210px;
    color: #fff;
    overflow: hidden;
}

.name-square {
    position: relative;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    top: 40px;
    left: 20px;
}

.number {
    position: relative;
    font-size: 150px;
    font-weight: 600;
    top: 130px;
    left: 60px;
    opacity: 0.5;
}

.past-block {
    flex-basis: 440px;
    margin-left: 30px;
}

.past-title {
    font-size: 110px;
    font-weight: 900;
    line-height: 132px;
    max-width: 210px;
}

.past-heading {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #DDDFE0;
    position: absolute;
    top: 1020px;
    left: 745px;
}

.past-text {
    font-size: 12px;
    line-height: 19px;
    max-width: 190px;
    padding: 8px;
}

.past-text::after {
    width: 60px;
    height: 5px;
    content: '';
    position: absolute;
    background-color: #032F48;
    top: 1180px;
    left: 1050px;
}

.link-more {
    width: 55px;
    background: #032F48;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    padding: 13px 45px;
    text-align: center;
}